doctype
html
    head
        title knowledge_base
        link(rel="stylesheet" href="/bower_components/boostrap/dist/css/bootstrap.css")
    body
        .container
            block content
            br
            hr
            footer
                p copyright &copy; 2019